/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/** Importing King's Fonts **/
/** King's Bureau Grotesque **/
@font-face {
  font-family: 'KingsBureauGrot';
  src: url("../fonts/KingsBureauGrot/KingsBureauGrot-ThreeSeven.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
}
@font-face {
  font-family: 'KingsBureauGrot';
  src: url("../fonts/KingsBureauGrot/KingsBureauGrot-ThrSevenItal.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: italic;
}
/** King's Caslon **/
@font-face {
  font-family: 'KingsCaslon';
  src: url("../fonts/KingsCaslon_V1.560/KingsCaslon.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
}
@font-face {
  font-family: 'KingsCaslon';
  src: url("../fonts/KingsCaslon_V1.560/KingsCaslonItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: italic;
}
@font-face {
  font-family: 'KingsCaslon';
  src: url("../fonts/KingsCaslon_V1.560/KingsCaslonSemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
}
@font-face {
  font-family: 'KingsCaslon';
  src: url("../fonts/KingsCaslon_V1.560/KingsCaslonSemiBoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
/* Colours */
/* line 16, ../sass/screen.scss */
.cookies-box {
  background: rgba(63, 70, 74, 0.9);
  bottom: 0;
  color: #fefefe;
  font-family: 'KingsCaslon', serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 1rem 0;
  position: fixed;
  text-align: center;
  text-shadow: none;
  transition: 0.5s ease-in-out;
  width: 100%;
}
/* line 30, ../sass/screen.scss */
.cookies-box.large {
  height: 100%;
  transition: 1s ease-in-out;
  z-index: 1000;
}
/* line 36, ../sass/screen.scss */
.cookies-box .close:before {
  content: 'Close ';
}
/* line 40, ../sass/screen.scss */
.cookies-box .open:before {
  content: 'Read our ';
}
/* line 44, ../sass/screen.scss */
.cookies-box iframe {
  border: none;
  height: 85%;
  max-height: 85%;
  transition: 1s ease-in-out;
  width: 95%;
}
/* line 51, ../sass/screen.scss */
.cookies-box iframe.hide {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 1s ease-in-out;
}
/* line 59, ../sass/screen.scss */
.cookies-box p {
  margin: 1rem 0;
  line-height: 1;
}
/* line 62, ../sass/screen.scss */
.cookies-box p a {
  background-color: transparent;
  border: none;
  color: #cdd7dc;
  float: none;
  font-size: 1.25rem;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* line 71, ../sass/screen.scss */
.cookies-box p a:hover, .cookies-box p a:focus {
  color: #00b9e1;
}
/* line 78, ../sass/screen.scss */
.cookies-box button {
  background-color: #5a6469;
  border-radius: 0;
  border: 0;
  color: #fefefe;
  cursor: pointer;
  font-family: 'KingsBureauGrot', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.85em 2em;
  margin: 0;
}
/* line 89, ../sass/screen.scss */
.cookies-box button:hover, .cookies-box button:focus {
  background-color: #77878e;
}

/* line 96, ../sass/screen.scss */
.privacy-policy {
  background: #fefefe;
  color: #5a6469;
  font-family: 'KingsCaslon', serif;
  font-size: 1.5rem;
  padding: 3rem;
}
/* line 103, ../sass/screen.scss */
.privacy-policy a {
  background-color: transparent;
  color: #00b9e1;
  text-decoration: none;
}
/* line 108, ../sass/screen.scss */
.privacy-policy a:hover, .privacy-policy a:focus {
  color: #008fae;
}
/* line 114, ../sass/screen.scss */
.privacy-policy h2 {
  font-family: 'KingsBureauGrot', sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
  margin: 3rem 0 0.5rem 0;
}

/* line 122, ../sass/screen.scss */
.sla {
  background: #5a6469;
  color: #fefefe;
  font-family: 'KingsCaslon', serif;
  font-size: 1.25rem;
  padding: 0.1rem 0 0.1rem 0;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 132, ../sass/screen.scss */
.sla a {
  color: #cdd7dc;
  text-decoration: none;
}
/* line 136, ../sass/screen.scss */
.sla a:hover, .sla a:focus {
  color: #00b9e1;
}

@media screen and (max-width: 768px) {
  /* line 146, ../sass/screen.scss */
  .privacy-policy {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
  }
  /* line 149, ../sass/screen.scss */
  .privacy-policy h2 {
    font-size: 1.5rem;
  }
}
