/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$colour: #cdd7dc;

$font-family: 'KingsCaslon', serif;
$font-size: 1.25rem;

$hover-colour: #009fc2;
$link-colour: #cdd7dc;

.sla {
    background: #5a6469;
    bottom: 0;
    color: $colour;
    font-family: $font-family;
    font-size: $font-size;
    padding: 1.5rem 0 1.5rem 0;
    position: relative;
    text-align: center;
    width: 100%;

    a:hover,
    a:focus {
        color: $hover-colour;
    }

    a:active,
    a:hover {
        outline: 0;
    }

    a {
        background-color: transparent;
        color: $link-colour;
        text-decoration: none;
    }
}

.cookies-box.hide {
    display: none;
}

.cookies-box {
    background: #3f464a;
    bottom: 0;
    color: $colour;
    font-family: $font-family;
    font-size: $font-size;
    margin: 0;
    opacity: 0.9;
    position: fixed;
    text-align: center;
    width: 100%;

    p {
        margin-bottom: 1.5rem;

        a:hover,
        a:focus {
            color: $hover-colour;
        }

        a:active,
        a:hover {
            outline: 0;
        }

        a {
            background-color: transparent;
            color: $link-colour;
            text-decoration: none;
        }
    }
}
